{% extends 'master' %}



{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Register</div>
                <div class="panel-body">
                   {{ form.open({ action: 'MarkupController.add', files: true }) }}
                   
                        {{ csrfField }}
                    
                        <div class="form-group">
                            <label for="markup_type_id" class="col-md-4 control-label">markup_type</label>

                            <div class="col-md-6">
                                <input id="markup_type_id" type="text" class="form-control" name="markup_type_id" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="user_id" class="col-md-4 control-label">user_id</label>

                            <div class="col-md-6">
                                <input id="user_id" type="text" class="form-control" name="user_id" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="latitude" class="col-md-4 control-label">latitude</label>

                            <div class="col-md-6">
                                <input id="latitude" type="text" class="form-control" name="latitude" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="longitude" class="col-md-4 control-label">longitude</label>

                            <div class="col-md-6">
                                <input id="longitude" type="text" class="form-control" name="longitude" required>
                            </div>
                        </div>
                        <div class="form-group field">
                            {{ form.file('image') }}
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-md-4 control-label">description</label>

                            <div class="col-md-6">
                                <input id="description" type="text" class="form-control" name="description" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="status" class="col-md-4 control-label">status</label>

                            <div class="col-md-6">
                                <input id="status" type="text" class="form-control" name="status" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-btn fa-user"></i> send
                                </button>
                            </div>
                        </div>
                    {{ form.close() }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

