

{% extends 'master' %}



{% block content %}

{{ form.open({action: 'ImageController.add', files: true}) }}

  {{ csrfField }}

 <div class="field">
    {{ form.file('image') }}
  </div>
  <div class="field">
    {{ form.label('username', 'Choose a username') }}
    {{ form.text('username') }}
  </div>

  <div class="field">
    {{ form.label('email', 'Enter email address') }}
    {{ form.text('email') }}
  </div>

  <div class="field">
    {{ form.label('password', 'Choose a strong password') }}
    {{ form.password('password') }}
  </div>

  <div class="button">
    {{ form.submit('Register') }}
  </div>

{{ form.close() }}


<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Register</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="POST" action="/newUser">
                   
                        {{ csrfField }}
                    
                        <div class="form-group">
                            <label for="name" class="col-md-4 control-label">Name</label>

                            <div class="col-md-6">
                                <input id="name" type="text" class="form-control" name="name" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="perfil" class="col-md-4 control-label">perfil</label>

                            <div class="col-md-6">
                                <input id="perfil" type="text" class="form-control" name="perfil" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="status" class="col-md-4 control-label">status</label>

                            <div class="col-md-6">
                                <input id="status" type="text" class="form-control" name="status" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="receber_notificacao" class="col-md-4 control-label">Receber Notificacao </label>

                            <div class="col-md-6">
                                <input id="receber_notificacao" type="text" class="form-control" name="receber_notificacao" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">E-Mail Address</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control" name="email" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="senha" class="col-md-4 control-label">Password</label>

                            <div class="col-md-6">
                                <input id="senha" type="password" class="form-control" name="senha" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-btn fa-user"></i> Register
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

