{% extends 'master' %} 

{% block content %}

<script src="https://unpkg.com/adonis-websocket-client@1.0.2/dist/ws.js" charset="UTF-8"></script>
<script type="text/javascript">

  const io = ws('http://localhost:8080')
  const client = io.channel('socket').connect(console.log)

  client.on('newAlert', console.log)

  client.emit('newAlert', 'hello world')


</script>
 

  {% endblock %}
